VITE_API_BASE_URL=http://20.207.122.201/evaluation-service
VITE_ACCESS_TOKEN=your_token_here
VITE_AUTH_EMAIL=your_email_here
VITE_AUTH_NAME=your_name_here
VITE_AUTH_ROLL_NO=your_roll_no_here
VITE_AUTH_ACCESS_CODE=your_access_code_here
VITE_AUTH_CLIENT_ID=your_client_id_here
VITE_AUTH_CLIENT_SECRET=your_client_secret_here
